@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

* {
    border-color: #eee;
}

html {
    background-color: #eee;
}

.newspaper-container {
    background-color: white;
    width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(195, 195, 195);
}

/* Date in top left */
.date {
    font-family: Source Sans Pro;
    text-align: left;
    /* might change this */
    font-size: 15px;
}

/* The Hacker Files title */
h1 {
    text-align: center;
    font-family: Abril Fatface;
    font-size: 45px;
    margin: 10px 0px 15px 0px;
}

/* Nav bar */
.nav-bar{
    position:sticky;
    top:0px;
    background-color:white;
}

ul {
    padding-left: 20px;
    margin: 0px;
}

li {
    display: inline;
    font-size: 15px;
    padding: 6px;
}

hr {
    margin: 5px 0px 0px 0px;
    border: 1px solid rgb(222, 221, 221);
}

a {
    text-decoration: none;
    color: #777;
}

a:hover{
    color:black;
}

/* Main article */
main h2 {
    font-family: Roboto Slab;
    font-size: medium;
    margin-bottom: 7px;
}

main h5 {
    color: rgb(210, 1, 1);
    font-size: 14px;
    font-family: Abril Fatface;
    margin: 0px 0px 25px 0px;
}

#keys-pic {
    width: 100%;
    margin-bottom: 15px;
}

main p {
    font-size: 15px;
    width: 98%;
    margin: auto;
    margin-bottom: 30px;
    text-align: justify;
}

/* Affects article text and nav bar */
.body-text {
    font-family: Source Sans Pro;
}

/* Mini articles */
section {
    display: inline-block;
    width: 330px;
}

section h4 {
    font-family: Roboto Slab;
    font-size: 17px;
    text-align: left;
}

section img {
    width: 100%;
}

section p {
    font-size: 15px;
    text-align: justify;
    width: 95%;
    margin:auto;
}

#caffeine {
    margin-left: 30px;
}

/* even more articles */
#extras{
    display:inline-flex;
}

#extras section{
    width:30%;
}

#extra-pic{
    width:100%;
}

#middle{
    margin:0px 34px;
}

/* Footer */
footer{
    width:700px;
    height:200px;
    margin:auto;
    background-color:rgb(69, 69, 69);
    position:relative;
    bottom:20px;
    z-index:-1;
    display:inline-flex;
    border-radius:15px;
}

/* #tagline{
    display:block;
} */

#tagline h5{
    margin:0px 0px 0px 0px;
    padding-top:40px;
    padding-left: 15px;
    font-family:Abril Fatface;
}

#tagline p{
    font-family:Source Sans Pro;
    /* margin: 0px 0px 40px 0px; */
    /* padding-left:30px; */
    font-size:20px;
}
#links{
    font-size:15px;
    font-family: Source Sans Pro;
    /* margin:0px; */
}

/* #footer-container{
    display:inline-block;
    width:700px;
} */

#copyright{
    text-align:right;
    font-family:Source Sans Pro;
    font-size:15px;
    color:grey;
}